@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');
/* heading: font-family: 'Poppins', sans-serif;
    body:font-family: 'Open Sans', sans-serif;
*/
:root {
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: 'Open Sans', sans-serif;
    border: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--very-dark-cyan);
}

.btn {
    color: white;
    background-color: var(--pink);
    padding: 1rem 3rem;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 0 5px 10px hsl(0, 0%, 80%);
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(321, 100%, 79%);
}

/* ---- Header ---- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1rem;
    margin-bottom: 6rem;
}

.header__logo {
    width: 120px;
}

.header__btn {
    background-color: white;
    color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 30px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    box-shadow: 0 0 10px hsl(0, 0%, 90%);
    cursor: pointer;
}

.header__btn:hover {
    border-color: hsl(321, 100%, 81%);
    box-shadow: 0 0 10px hsl(0, 0%, 95%);
}

/* ---- Intro Section ---- */

.intro-section {
    text-align: center;
    padding: 1rem 2rem;
    color: var(--very-dark-cyan);
}

.intro-section__title {
    font-size: 1.2rem;
}

.intro-section__para {
    margin-top: 1.4rem;
    margin-bottom: 3rem;
}

.intro-section__mockup {
    width: 100%;
    margin: 5rem auto;
}

/* ---- Stats Section---- */
.stats-section {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    text-align: center;
    padding-bottom: 6rem;
}

.stats-section__item {
    margin: 0 auto;
    margin-bottom: 4rem;
}

.stats-section__item img {
    display: block;
    width: 30px;
    text-align: left;
}

.stats-section__item h2 {
    color: var(--very-dark-cyan);
    font-size: 4rem;
    margin: 0;
}

.stats-section__item p {
    font-size: 0.9rem;
    color: hsl(0, 0%, 55%);
    margin: 0.6rem 0;
}

.stats-section::after {
    content: '';
    position: absolute;
    background: url(../images/bg-section-top-mobile-1.svg) center center no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
    left: 0;
    bottom: -20px;
}

/* ---- Content Section ---- */
.content-section {
    padding-top: 8rem;
    background-color: var(--very-pale-blue);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content__img {
    width: 80%;
    margin: 2rem 0;
}

.content__text {
    margin: 2rem 0;
    color: var(--very-dark-cyan);
}

.content__text h1 {
    font-size: 1.6rem;
}

.content__text p {
    font-size: 1.2rem;
    padding: 0.5rem 3rem;
}

.content--middle {
    position: relative;
    background-color: white;
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.content--middle::before {
    content: '';
    position: absolute;
    background: url(../images/bg-section-bottom-mobile-1.svg) center center no-repeat;
    background-size: cover;
    height: 9%;
    width: 100%;
    left: 0;
    top: 0;
}

.content--middle::after {
    content: '';
    position: absolute;
    background: url(../images/bg-section-top-mobile-2.svg) center center no-repeat;
    background-size: cover;
    height: 15%;
    width: 100%;
    left: 0;
    bottom: 0px;
}

/* Sign-In Section */

.signIn-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12rem;
    margin-bottom: 20rem;
}

.signIn-section::before {
    content: '';
    position: absolute;
    background: url(../images/bg-section-bottom-mobile-2.svg) center center no-repeat;
    background-size: cover;
    height: 30%;
    width: 100%;
    left: 0;
    top: 0;
}

.signIn-section .btn {
    font-size: 1rem;
    margin-top: 2rem;
}

/* ---- Footer ---- */

footer {
    position: relative;
    background-color: var(--very-dark-cyan);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2.5rem 3rem;
}

footer::before {
    content: '';
    position: absolute;
    background: url(../images/bg-footer-top-mobile.svg) no-repeat;
    background-size: cover;
    height: 7%;
    min-width: 100%;
    left: 0;
    top: -7%;
}

.newsletter {
    order: 1;
}

.newsletter h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 2rem 0;
}

.newsletter > p {
    font-weight: 600;
    font-size: 1.3rem;
    max-width: 450px;
    line-height: 1.6;
    margin: 1rem 0;
}

.newsletter__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.warn-msg {
    order: 2;
    position: absolute;
    display: none;
    left: 5px;
    top: 50%;
    font-size: 1rem;
    color: hsl(348, 100%, 61%);
}

.newsletter__form-email {
    order: 1;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin: 2rem 0;
    border: none;
}

.newsletter__form-btn {
    order: 3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
    background-color: var(--pink);
    font-size: 1.2rem;
    width: 40%;
    height: 60px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.newsletter__form-btn:hover {
    background-color: hsl(321, 100%, 79%);
}

.newsletter__form-btn:active ~ .warn-msg {
    display: block;
}

.newsletter__form-btn:active ~ .newsletter__form-email {
    border: 1px solid red;
}

.contact {
    order: 2;
    margin-top: 8rem;
}

.contact__logo {
    max-width: 300px;
    margin-bottom: 2rem;
}

.contact__content {
    font-weight: 600;
    font-size: 1.2rem;
    max-width: 450px;
    line-height: 2;
    margin-bottom: 2rem;
}

.contact__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
}

.contact__info img {
    width: 25px;
    margin-right: 1.5rem;
}

.contact__social {
    list-style: none;
    display: flex;
}

.contact__social li {
    font-size: 2rem;
    margin-right: 1.1rem;
    cursor: pointer;
}

.contact__social li:hover {
    color: hsl(180, 100%, 50%);
}

.attribution {
    order: 3;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: white;
}
